.jumbotron {
background-color: transparent;
}

#floating {
  display: block;
  max-width: 100%;
  margin-left: 150px;
  margin-right: 150px;
  padding: 150px;
  z-index: 100;
  position: fixed;
  background-image: url("../img/robot.jpg");
  background-size: cover;
}

#formOne {
padding-left; 40px;S

}

.output-box {
  left:500px;
  top:650px;
  position: relative;
  height:120px;
  width:120px;
  border:1px solid #ccc;
  font:16px/26px Georgia, Garamond, Serif;
  overflow:auto
}

ul {
  list-style: none;
}
