.jumbotron {
background-color: transparent;
}

#floating {
  display: block;
  max-width: 100%;
  margin-left: 150px;
  margin-right: 150px;
  padding: 150px;
  z-index: 100;
  position: fixed;
  background-image: url("../img/robot.jpg");
  background-size: cover;
}

#formOne {
  position: relative;
  left: 380px;
  top: 600px;

}

.output-box {
  left:149px;
  top:615px;
  position: relative;
  height:200px;
  width:867px;
  /* border:1px solid #ccc; */
  font:16px/26px Georgia, Garamond, Serif;
  overflow:auto
}

ul {
  list-style: none;
}
